body {
  background-color: rgb(241, 145, 145);
}

.pokedex_title {
  text-align: center;
  font-family: "Luckiest Guy";
  font-weight: 900;
  color: yellow;
  -webkit-text-stroke: 0.1rem blue;
}

.btn {
  margin-top: 20px;
}
.form-label {
  color: #fff;
}

.back {
  padding: 10px;
  outline: none;
  text-decoration: none;
  background-color: #fff;
  border-radius: 15px;
}
.back:hover {
  color: rgb(241, 145, 145);
}
